@model IEnumerable<ICV.WebUIMVC.Models.ProdutoModel>
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}




<section class="p-3">

    <div class="card shadow p-4">

        <div class="card-body">
            <section>
                <h2>Gerenciamento de Produtos</h2>
                <hr />
                <a class="btn btn-secondary" asp-controller="HomePortal" asp-action="Index"><i class="fas fa-arrow-left"></i> Retornar</a>
                <a class="btn btn-primary" asp-action="Cadastrar"><i class="fas fa-plus"></i> Novo</a>
            </section>

            <section class="row justify-content-center mt-3">
                <div class="table-responsive rounded">
                    <div class="table-responsive rounded">
                        <table class="table text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nome do Produto</th>
                                    <th>Categoria</th>
                                    <th>Quantidade</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomeProduto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoriaProduto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.QuantidadeProduto)
                                        </td>
                                        <td>
                                            <a class="text-primary" asp-action="Editar" asp-route-id="@item.IdProduto" data-myValue="@ViewBag.retorno" ><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script>

    var retorno = "@ViewBag.retorno";
    console.log("Esse"+retorno);



    $(document).ready(function () {

            if (retorno == "Erro" ) {
                const Toast = Swal.mixin({

                    toast: true,

                    position: 'top',

                    showConfirmButton: false,

                    timer: 2000,

                    didOpen: (toast) => {

                        toast.addEventListener('mouseenter', Swal.stopTimer)

                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }

                })

                Toast.fire({

                    title: 'Erro ao enviar os dados, revise as informações enviadas.',

                    icon: 'warning',

                    iconColor: 'red',

                })
            }
             if (retorno == "Sucesso" ) {
                const Toast = Swal.mixin({

                    toast: true,

                    position: 'top',

                    showConfirmButton: false,

                    timer: 2000,

                    didOpen: (toast) => {

                        toast.addEventListener('mouseenter', Swal.stopTimer)

                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }

                })

                Toast.fire({

                    title: 'Dados enviados com Sucesso!',

                    icon: 'success',

                    iconColor: 'green',

                })
             }
    });
</script>


