@model ICV.WebUIMVC.Models.AlunoModel

@{
    ViewData["Title"] = "Editar Aluno";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<section class="row justify-content-center">

    <div class="col-sm-8 text-center mt-5">

        <h1 class="h3">Coruja Veículos - Editar Aluno</h1>

        <p>Para voltar para lista de alunos <a asp-action="Index">Clique aqui</a>.</p>

    </div>

</section>

<section class="row justify-content-center">

    <div class="col-sm-8">

        <div class="table-responsive rounded">

            <table class="table table-bordered text-center">

                <thead class="table-dark">

                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CpfAluno</th>
                        <th scope="col">DataNascimento</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Status</th>
                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Nome)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.CpfAluno)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.DataNascimentoAluno)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Telefone)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Status)
                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

    <div class="col-sm-8">
        <form asp-action="Editar">

            <div class="row justify-content-center">

                <div class="col-8 mt-2">
                    <input asp-for="Nome" class="form-control" placeholder="Insira o nome do aluno..." required />
                </div>

                <div class="col-2 mt-2">
                    <input asp-for="CpfAluno" class="form-control" placeholder="xxx.xxx.xxx-xx" required />
                </div>

                <div class="col-2 mt-2">
                    <input asp-for="DataNascimentoAluno" class="form-control" placeholder="xx/xx/xxxx" required />
                </div>

                <div class="col-2 mt-2">
                    <input asp-for="Email" class="form-control" placeholder="example@gmail.com" required />
                </div>

                <div class="col-2 mt-2">
                    <input asp-for="Telefone" class="form-control" placeholder="(xx)xxxxx-xxxx" required />
                </div>

                <div class="col-2 mt-2">
                    <select asp-for="Status" class="form-select" required>
                        <option value="1" selected>Ativo</option>
                        <option value="0">Inativo</option>
                    </select>
                </div>
            </div>

            <input asp-action="Editar" type="submit" value="Editar" class="btn btn-primary btn-sm btn-block w-100 mt-2" />

        </form>

    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}