@model ICV.WebUIMVC.Models.DoadorModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<section>

    <div class="p-3">

        <div class="card shadow p-4">

            <div class="card-body">

                <section>

                    <h2>Editar</h2>
                    <hr />

                </section>

                <section class="row justify-content-center mt-3">

                    <div class="table-responsive rounded">

                        <table class="table table-bordered text-center">

                            <thead class="table-dark">

                                <tr>

                                    <th scope="col">NomeDoador</th>
                                    <th scope="col">DocumentoDoador</th>
                                    <th scope="col">TelefoneDoador</th>
                                    <th scope="col">EmailDoador</th>
                                    <th scope="col">StatusDoador</th>
                                    <th scope="col">AnonimoDoador</th>
                                    <th scope="col">ObservacaoDoador</th>

                                </tr>

                            </thead>

                            <tbody>

                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Nome)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.DocumentoDoador)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Telefone)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Email)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Status)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.AnonimoDoador)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.ObservacaoDoador)
                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                    <article class="col-sm-8">

                        <form asp-action="Editar">

                            <div class="row justify-content-center">

                                <div class="col-2 mt-2">
                                    <input asp-for="Nome" class="form-control" placeholder="Insira o nome do doador..." required />
                                </div>

                                <div class="col-2 mt-2">
                                    <input asp-for="DocumentoDoador" class="form-control" placeholder="Insira seu cpf" required />
                                </div>

                                <div class="col-2 mt-2">
                                    <input asp-for="Telefone" class="form-control" placeholder="Insira seu telefone" required />
                                </div>

                                <div class="col-2 mt-2">
                                    <input asp-for="Email" class="form-control" placeholder="example@gmail.com" required />
                                </div>

                                <div class="col-2 mt-2">
                                    <label>Status</label>
                                    <select asp-for="Status" class="form-select">
                                        <option value="1" selected>Ativo</option>
                                        <option value="0">Inativo</option>
                                    </select>

                                </div>

                                <div class="col-2 mt-2">
                                    <label>Doador anônimo</label>
                                    <select asp-for="AnonimoDoador" class="form-select">
                                        <option value="1" selected>Vardadeiro</option>
                                        <option value="2">Falso</option>
                                    </select>

                                </div>

                                <div class="col-2 mt-2">
                                    <input asp-for="ObservacaoDoador" class="form-control" placeholder="xxxxxxxxxxx" required />
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="submit" value="Salvar" class="btn btn-success" />
                                </div>

                            </div>

                        </form>

                    </article>

                </section>

            </div>

        </div>

    </div>

</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
