@model IEnumerable<ICV.WebUIMVC.Models.DoadorModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<section class="row justify-content-center">

    <div class="col-sm-8 text-center mt-5">

        <h1 class="h3">Coruja Veículos - Lista de Doadores</h1>

        <p>Para cadastrar um novo Doador <a asp-action="Cadastrar">Clique aqui</a>.</p>

    </div>

</section>

<section class="row justify-content-center">

    <div class="col-sm-8">

        <div class="table-responsive rounded">

            <table class="table text-center">

                <thead class="table-dark">

                    <tr>

                        <th scope="col">NomeDoador</th>
                        <th scope="col">DocumentoDoador</th>
                        <th scope="col">TelefoneDoador</th>
                        <th scope="col">EmailDoador</th>
                        <th scope="col">StatusDoador</th>
                        <th scope="col">AnonimoDoador</th>
                        <th scope="col">ObservacaoDoador</th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentoDoador)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.AnonimoDoador)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ObservacaoDoador)
                            </td>

                            <td>
                                <a class="text-primary" asp-action="Editar" asp-route-id="@item.id"><i class="fas fa-edit"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>

            </table>

        </div>

    </div>

</section>
