@model ICV.WebUIMVC.Models.TurmaModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<section>
    <div class="container-fluid p-3">
        <div class="card shadow p-4">
            <div class="card-body">
                <section>
                    <h2>Editar Turma</h2>
                    <hr />

                </section>
                <section class="row justify-content-center mt-3">
                    <div class="table-responsive rounded">

                        <table class="table table-bordered text-center">

                            <thead class="table-dark">

                                <tr class="text-center">
                                    <th scope="col">Nome</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Periodo</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Curso</th>
                         
                                </tr>

                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.NomeTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.DescricaoTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.PeriodoTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.StatusTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.Curso)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <form asp-action="Editar">
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <label>Nome da Turma</label>
                                    <input asp-for="NomeTurma" class="form-control" placeholder="Insira o nome da Turma..." required />
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-6 mt-2">
                                    <label>Status</label>
                                    <select asp-for="StatusTurma" class="form-select" required>
                                        <option value="1" selected>Ativo</option>
                                        <option value="0">Inativo</option>
                                    </select>
                                </div>

                                <div class="col-sm-6  mt-2">
                                    <label>Período</label>
                                    <select asp-for="PeriodoTurma" class="form-select" required>
                                        <option value="1" selected>Manhã</option>
                                        <option value="2">Tarde</option>
                                        <option value="3">Noite</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12  mt-2">
                                    <label>Descrição</label>
                                    <textarea asp-for="DescricaoTurma" id="floatingTextarea2" class="form-control" rows="4" placeholder="Preencha a descrição" required></textarea>
                                </div>

                                <div class="mt-3 text-end">
                                    <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left"></i> Retornar</a>
                                    <input type="submit" value="Salvar" class="btn btn-success " />

                                </div>
                            </div>

                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

