@model IEnumerable<ICV.WebUIMVC.Models.TurmaModel>

@{
ViewData["Title"] = "Turmas";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

    <section class="p-3">

        <div class="card shadow p-4">

            <div class="card-body">

                <section>
                    <h2>Gerenciamento de Turma</h2>
                    <hr />
                    <a class="btn btn-secondary" asp-controller="HomePortal" asp-action="Index"><i class="fas fa-arrow-left"></i> Retornar</a>
                    <a class="btn btn-primary" asp-action="Cadastrar"><i class="fas fa-plus"></i> Novo</a>
                </section>

                <section class="row justify-content-center mt-3">

                    <div class="table-responsive  rounded">

                        <table class="table text-center  table-bordered table-striped table-hover">

                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Periodo</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Curso</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DescricaoTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodoTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StatusTurma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Curso)
                                    </td>
                                    <td class="text-center">
                                        <a class="text-primary" asp-action="Editar" asp-route-id="@item.IdTurma"><i class="fas fa-edit"></i></a>
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </section>

            </div>

        </div>

    </section>
